/* here you can put your own css to customize and override the theme */

.header.navbar .navbar-brand {
	max-width: 100%;
	width: auto;
	padding: 0;
}
.header.navbar .navbar-brand img {
	margin: 0!important;
}
.header {
	background-color: #FFF!important;
	border-bottom: 1px solid #333;
}

@media (max-width: 991px) and (min-width: 768px){
	.header {
		padding: 0!important;
	}
}
@media (max-width: 767px){
	.header.navbar .navbar-brand img {
		float: right;
	}
	.header.navbar .navbar-brand {
		margin-left: -20%!important;
	}
}